@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="file"]::file-selector-button {
    background-color: #1f2937;
    color: white;
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all;
}


input[type="file"]::file-selector-button:hover {
    background-color: #7292c5;
}
